<br />
<div class = "booyah-box container-fluid col-10 offset-1">
<h2>Sign up</h2>
<br />
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>
  <small class = "required-field-text">* indicates required field</small>
  <div class="form-actions">
  <br />
    <%= f.button :submit, "Sign up", class: 'btn btn-primary col-5' %>
<% end %> <small>--  or  --</small>

<%= render "devise/shared/links" %>
</div>
